*{
    margin: 0;
    
}

body{
    background-color: #3d3d3d;
    color: rgb(219, 219, 219);
}
.navbar{
    background-color: rgb(49, 46, 38);
}
.navbar-brand{
    color: rgb(219, 219, 219);
}
.card-body{
    background-color: #3d3d3d;
}
